@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #E0E1DB
}

:root {

    /* Colors */
    --bg-color-first: #4B5E65;
    --bg-color-second: #B7BCB8;
    --second-color: #E0E1DB;
    --text-color: #121212;
    --h-text-color: #B7BCB8;

    /* Dimenstion */
    --width: 1200px;
}


body{
    background-color: var(--bg-color-first);
}

h1, h2, h3, h4, h5, h6{
    color: var(--text-color);
}


.boxShadow{
    box-shadow: -5px 5px 9px #3f3f3f, 5px 5px 7px #121212;
}

.innerShadow{
    box-shadow: inset -5px 5px 9px #ffffff73, inset 5px 5px 7px #5e687949;
}

.oShadow{
    box-shadow: -5px 5px 9px #ffffff73, 5px 5px 7px #5e687949;
}

.ishadow{
    box-shadow: inset -5px 5px 9px #ffffff73, inset 5px 5px 7px #5e687949;
}

.oShadow2 {
    box-shadow: -2px -2px 8px #a0a0a0, 4px 4px 6px #121212;
}

.oShadow2:hover{
    box-shadow: 4px 4px 6px #121212;
}
