.outer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-second);
}

.inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.second{
    width: 90%;
}




/* content */

